html, 
body {
  height: 100%;
  font-family: Roboto;
}

.content_container {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px){
  .row{
flex-direction: column;
  }
  .picture{
    height: 80vw;
    width: 80vw;
  }
}
 
.picture {
  width: 30vw;
}

.row {
  display: flex;
}

.block_iteam2 {
  text-align: left;
  justify-content: center;
  width: 290px;
  margin: 0 30px;
}

.p1 {
  color: #6c757d;
}

.p2 {
  color: #6c757d;
  font-weight: bold;
}

.password {
  display: flex;
  justify-content: space-between;
  color: #6c757d;
  font-weight: 900;
  font-size: 14px;
}

.name {
  border: none;
  font-size: 20px;
}

.name1{
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-bottom: 0;
  padding: 15px 15px;
  border: none;
  position: relative;
  border-bottom: 1px solid #ededed;
  width: 260px;
  background-color: #f8f9fa;
outline: none;
height: 30px;
}

.name2{
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-bottom: 0;
  padding: 15px 15px;
  border: none;
  position: relative;
 
  width: 260px;
  background-color: #f8f9fa;
  outline: none;
  height: 30px;
}

a {
  color: #6c757d;
}

.rememberm_me {
  color: #6c757d;
  font-size: 15px;
}

button {
  height: 54px;
background-color: #6c63ff;

  padding-left: 125px;
  padding-right: 125px;
  border-radius: 7px;
  color: #f8f9fa; 
  border: none;
}
button:hover {
  background-color: #483dff;
  border: none;
}